*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --black-color: #000509;
  --yellow-color: #F0DB4F;
  --white-color: #EDF4FA;
  --gray-color: #1E252B;
  --main-fonts: Arial, sans-serif;
  --code-fonts: 'Courier New', monospace;
}

body{
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: var(--main-fonts);
    height: 100vh;
}

img{
    border-radius: 0.25rem;
}

#logo{
    max-width: 2.5rem;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-bottom: 1.5px solid var(--gray-color);
    padding: 1rem;
}